seaborn
nbconvert<7
matplotlib
pandas
numpy
plotly
tabulate
itables==1.6.4
python-highcharts
jupyter
pandas
scikit-learn
statsmodels
pretty_jupyter==2.0.7
lxml[html_clean]
jupytext==1.16.1
sweetviz
shap
lime