seaborn
nbconvert<7
matplotlib
pandas
numpy
plotly
tabulate
itables==1.7.1
python-highcharts
jupyter
pandas
scikit-learn
statsmodels
lxml[html_clean]
jupytext==1.16.1
sweetviz
shap
lime
imbalanced-learn
